.block {
	width: 200px;
	height: 200px;
	border-radius: 20%;
	background-color: salmon;
	display: flex;
	align-items: center;
	justify-content: center;
}

.back {
	animation: flipBack .3s forwards;

	img {
        animation: flipImg .3s .1s forwards;
        opacity: 0;
		border-radius: 15px;
		width: 80%;
		height: 80%;
        transform: rotateX(180deg);
	}
}

.front {
    animation: flipFront .3s forwards;
	img {
		display: none;
	}
}

@keyframes flipBack {
	from {
		
        transform: rotateX(0);
	}
	to {
		transform: rotateX(180deg);
	}
}
@keyframes flipFront {
	from {
		
        transform: rotateX(180deg);
	}
	to {
		transform: rotateX(0deg);
	}
}

@keyframes flipImg {
   	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
